$enable-responsive-font-sizes: true;

@import "bootstrap";

$libo_main: #18A303;
$libo_sub:  #106802;

.jumbotron {
  background-image: url("/images/libo-asia-tokyo-title.png");
  background-size: cover;
  background-position: center center;
  position: relative;
}

.container hr{
  border-color: $libo_main;
  border-width: 3px;
  max-width: 50px;
}

.footer {
  background-color: $libo_main;
}

.table {
  table-layout: fixed;

  .time {
    width: 6em;
  }
}

.table .speaker {
  font-weight: bold;
}

a[href$='.pdf']{
  padding: 2px;
  padding-left: 20px;
  background: url("/images/page_white_acrobat.png") no-repeat left center;
}