<footer class="footer">
  <div class="container">
    <p>Cover photo by <a href="https://www.flickr.com/photos/wilhelmja/330965980/">Wilhelm Joys Andersen</a>, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC BY-SA 2.0</a>
    <p>Powered by <a href="https://middlemanapp.com/">Middleman</a> / <a href="https://www.netlify.com/b">Netlify</a></p>
  </div>
</footer>