<footer class="footer text-right text-white py-5">
  <div class="container">
    <p>Cover photo by <a class="text-white" href="https://www.flickr.com/photos/wilhelmja/330965980/">Wilhelm Joys Andersen</a>, <a class="text-white" href="https://creativecommons.org/licenses/by-sa/2.0/">CC BY-SA 2.0</a><br>
    Powered by <a class="text-white" href="https://middlemanapp.com/">Middleman</a> / <a class="text-white" href="https://www.netlify.com/b">Netlify</a></p>
  </div>
</footer>