---
title: LibreOffice Asia Conference 2019
menu:
  - name: HOME
    url: /
  - name: PROGRAM
    url: program.html
  - name: SPONSORS
    url: sponsors.html
  - name: ENGLISH
    url: index_en.html
---

<!-- header -->
<header class="jumbotron jumbotron-fluid text-center text-white mb-0">
  <div class="container py-3">
    <h1 class="display-3">
    <img src="/images/libreoffice_header_logo.png" class="img-fluid my-2"><br>
    LibreOffice Asia Conference 2019
    </h1>
    <h2>First LibreOffice Asia Conference</h2>
    <hr class="my-2">
    <p class="lead">
    2019/5/25 (土) カンファレンスデイ(セミナー形式), 懇親会 <br>
    2019/5/26 (日) ビジネスデイ, CJK HackFest
    </p>
  </div>
</header>

<section class="bg-light py-5">
  <div class="container">
    <h2 class="text-center">LibreOffice Asia Conferenceとは</h2>
    <hr class="my-4">
    <p>アジア地区におけるLibreOfficeの利用者、開発者、翻訳者、その他コミュニティ貢献者が集まり、さまざまなノウハウを共有し合うイベントです。アジア圏におけるLibreOfficeやその標準フォーマットへの移行の現状、使い方、開発、その他のコミュニティ活動について議論します。2019年、初の開催が東京で行われることとなりました。</p>
    <p>2019年のテーマは「LibreOfficeとビジネス」です。そのため、LibreOfficeの公式認定委員会より共同委員長のItalo Vignoli、Lothar Becker両氏をお招きし、LibreOfficeでのビジネスをご検討頂いている方向けのワークショップや、さらには日本初、アジア圏で2回目の認定移行専門家・認定トレーナー・認定開発者向けの面接も行われる予定です。</p>
    <p>もちろん、本イベントは例年行われておりますLibreOffice Kaigiを含んだ形となっておりますので、日本語での講演も行われます。ふるってご参加ください。</p>
  </div>
</section>

<section class="py-5">
  <div class="container">
    <h2 class="text-center">ゲスト</h2>
    <hr class="my-4">

    <div class="row">
      <div class="col-lg-4 text-center">
        <img class="rounded-circle" src="images/guests/italo.png" alt="Italo Vignoli">
        <h2>Italo Vignoli</h2>
        <p>
        LibreOffice / Document Foundation創始者の一人<br>
        The Document Foundation マーケティング・PRチームリード<br>
        The Document Foundation 公式 LibreOffice 認定委員会 共同委員長
        </p>
      </div>
      <div class="col-lg-4 text-center">
        <img class="rounded-circle" src="images/guests/lothar.png" alt="Lothar Becker">
        <h2>Lother Becker</h2>
        <p>The Document Foundation 公式 LibreOffice 認定委員会 共同委員長</p>
      </div>
      <div class="col-lg-4 text-center">
        <img class="rounded-circle" src="images/guests/franklin.png" alt="Franklin Weng">
        <h2>Franklin Weng</h2>
        <p>
          The Document Foundation マーケティング担当理事<br>
          アジア初めての TDF 理事<br>
          台湾政府 ODF 移行計画推進者
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-4 text-center">
        <img class="rounded-circle" src="images/guests/mark.png" alt="Mark Hung">
        <h2>Mark Hung</h2>
        <p>台湾にて主にWriterのCJKの扱いや、EPUB、PowerPointインポートなど幅広いエリアで活発に活動を行う開発者</p>
      </div>
      <div class="col-lg-4 text-center">
        <img class="rounded-circle" src="images/guests/haris.png" alt="Ahmad Haris">
        <h2>Ahmad Haris</h2>
        <p>
          インドネシアコミュニティから世界に活動を広げる活動家<br>
          アジア初のTDFメンバーシップ委員
        </p>
        </div>
      <div class="col-lg-2"></div>
    </div>

  </div>
</section>

<section class="text-center bg-light py-5">
  <div class="container">
    <h2>会場</h2>
    <hr class="my-4">
    <p>
    サイボウズ株式会社 東京オフィス<br/>
    〒103-6027 東京都中央区日本橋2-7-1 東京日本橋タワー 27階
    </p>
  </div>
  <iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=139.7699546813965%2C35.679452740320755%2C139.77817296981814%2C35.68453339771748&amp;layer=mapnik&amp;marker=35.68199310945901%2C139.7740638256073"></iframe><br/><small><a href="https://www.openstreetmap.org/?mlat=35.68199&amp;mlon=139.77406#map=17/35.68199/139.77406">大きな地図を表示</a></small>
  <p><a href="https://goo.gl/maps/p6SabV3MZu42">Google map</a></p>
</section>

<section class="text-center py-5">
  <div class="container">
    <h2>お申し込み</h2>
    <hr class="class=my-4">
    <p>サイトは近日中にオープンします。しばらくお待ちください。</p>
    </h2>
  </div>
</section>

<section class="text-center bg-light py-5">
  <div class="container">
    <h2>スポンサー</h2>
    <hr class="my-4">
    <p>スポンサーは随時受け付け中です。<br/>
    お問い合わせは <a href="mailto:libo-asia-contact@libreoffice.jp">libo-asia-contact@libreoffice.jp</a> まで</p>
  </div>
</section>
