---
title: LibreOffice Asia Conference 2019
menu:
  - name: HOME
    url: index_en.html
  - name: PROGRAM
    url: program.html
  - name: TALK
    url: talk.html
  - name: SPONSORS
    url: sponsors.html
  - name: JAPANESE
    url: /
---

<!-- header -->
<header class="jumbotron jumbotron-fluid text-center text-white mb-0">
  <div class="container py-3">
    <img src="/images/liboasiacon_logo.png" alt="LibreOffice Asia Conference 2019 Tokyo" class="img-fluid">
    <hr class="my-2">
    <p class="lead">
    May 25th, 2019 (Sat): Conference, Party<br>
    May 26th, 2019 (Sun): Business day, CJK HackFest
    </p>
  </div>
</header>

<section class="bg-light py-5">
  <div class="container">
    <h2 class="text-center">About LibreOffice Asia Conference</h2>
    <hr class="my-4">
    <p>The event will gathers LibreOffice end-users, developers, translators in Asian region, or any other community contributors, to exchange their knowledge each other.  In there, we'll discuss about migration to LibreOffice and Open Document Format (ODF), usage of LibreOffice, and other many topics within Asia.  In this year, 2019, we'll hold the first Asia Conference in Tokyo.</p>
    <p>The theme of 2019's Asia Conference is "LibreOffice and Business."  Thus, we'll invite Mr. Italo Vignoli and Mr. Lothar Becker, from The Document foundation Certification committee,  and will have the workshop for people / companies who has interest to do LibreOffice buisness (such as end-users support, training or else), and 2nd Asian (1st Japanese) certification interviews.</p>
    <p>This event, of course, includes Japanese annual event "LibreOffice Kaigi," and we have Japanese and English tracks.</p>
  </div>
</section>

<section class="py-5">
  <div class="container">
    <h2 class="text-center">Keynote</h2>
    <hr class="my-4">
    <h3 class="text-center">LibreOffice CJK Bugs, Fixes, and Stories.</h3>
    <div class="row">
      <div class="col-lg-3">
        <img class="rounded-circle" src="images/guests/mark.png" alt="Mark Hung">
      </div>
      <div class="col-lg-9">
        <h4>Mark Hung</h4>
        Mark is a LibreOffice developer from Taiwan. He has started to contribute to LibreOffice since 2014 and became a member of The Document Foundation in 2016. He has fixed a bunch of CJK issues in Writer and issues with wide range of topics like RTL ( right-to-left ), custom animaitons, media control,  etc. He enjoys hacking LibreOffice in his spare time and fixing minor issues that make LibreOffice more professional.
      </div>
    </div>
    <hr class="my-4">
    <h3 class="text-center">LibreOffice, the many different faces of a global community</h3>
    <div class="row">
      <div class="col-lg-3">
        <img class="rounded-circle" src="images/guests/italo.png" alt="Italo Vignoli">
      </div>
      <div class="col-lg-9">
        <h4>Italo Vignoli</h4>
    Italo Vignoli is a founding member of The Document Foundation and
Chairman Emeritus of Associazione LibreItalia, and a former board member
at Open Source Initiative (OSI). He co-leads LibreOffice marketing, PR
and media relations, co-chairs the certification program, and is a
spokesman for the project. He has contributed to large migration
projects to LibreOffice in Italy, and is a LibreOffice certified
migrator and trainer. From 2004 to 2010 he has been involved in the OOo
project. In his professional life, he is a marketing consultant with
decades of experience in high tech, and a visiting professor of
marketing, public speaking and PR post-graduate courses. He has a Degree
in Humanities at the University of Milan, and MBAs in Marketing, Public
Relations and Journalism.
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <img class="rounded-circle" src="images/guests/lothar.png" alt="Lothar Becker">
      </div>
      <div class="col-lg-9">
        <h4>Lothar Becker</h4>
        Lothar is a long time member of The Document Foundation and nowadays in
charge of co-chairing
the certification committee for LibreOffice. In his professional life,
he is the managing director of a
software and service company for free software, mainly on the desktop.
He and his company were
the first OpenOffice.org migration and service partner in Europe with
SUN, and he personally has
a long track record in migration projects from proprietary to free
office suites, and in training for
all aspects of it. He holds a master degree in computer science
(Artificial Intelligence) and business
economics from the University of Kaiserslautern and Deutsches
Forschungszentrum für Künstliche
Intelligenz (DFKI).
      </div>
    </div>
  </div>
</section>


<section class="py-5">
  <div class="container">
    <h2 class="text-center">Guests</h2>
    <hr class="my-4">

    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-4 text-center">
        <img class="rounded-circle" src="images/guests/franklin.png" alt="Franklin Weng">
        <h2>Franklin Weng</h2>
        <p>
        The first Asian member of the Board of Director of The Document Foundation.<br>
        The first LibreOffice Migration Professional in Asia, also a member of LibreOffice Certification Committee in TDF.
        Keep working on ODF migration in Taiwan.
        </p>
      </div>
      <div class="col-lg-4 text-center">
        <img class="rounded-circle" src="images/guests/haris.png" alt="Ahmad Haris">
        <h2>Ahmad Haris</h2>
        <p>
        A FLOSS activist from Indonesia to the world.<br>
        The first Asian member of The Membership Committee of The Document Foundation.
        </p>
      </div>
    </div>

  </div>
</section>

<section class="text-center bg-light py-5">
  <div class="container">
    <h2>Venue</h2>
    <hr class="my-4">
    <p>
    Cyboze Inc., Tokyo Office 103-6027,<br/>
    Floor 27, Tokyo Nihonbashi Tower, Chuo-ward, Tokyo, Japan
    </p>
  </div>
  <iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=139.7699546813965%2C35.679452740320755%2C139.77817296981814%2C35.68453339771748&amp;layer=mapnik&amp;marker=35.68199310945901%2C139.7740638256073"></iframe><br/><small><a href="https://www.openstreetmap.org/?mlat=35.68199&amp;mlon=139.77406#map=17/35.68199/139.77406">View Large Map</a></small>
  <p><a href="https://goo.gl/maps/p6SabV3MZu42">Google map</a></p>
</section>

<section class="text-center py-5">
  <div class="container">
    <h2>Registrations</h2>
    <hr class="class=my-4">
    <p>NOTE: if you are a speaker or our guest, registrations in these sites are not mandatory (you have been counted already).</p>
    <div><a href="https://libojapan.connpass.com/event/127969/">Day 1. Conference Day（May 25th, 2019 (Sat)</a></div>
    <div><a href="https://libojapan.connpass.com/event/130658/">Day 1. Conference Official Party（May 25th, 2019 (Sat)</a></div>
    <div><a href="https://libojapan.connpass.com/event/128782/">Day 2. Business workshop／CJK HackFest（May 26th, 2019 (Sun)）</a></div>
    </h2>
  </div>
</section>

<section class="text-center bg-light py-5">
  <div class="container">
    <h2>Sponsors</h2>
    <hr class="my-4">
    <p>If you are considering sponsorship for our event, please contact <a href="mailto:libo-asia-contact@libreoffice.jp">libo-asia-contact@libreoffice.jp</a></p>
 
    <h3>Platinum Sponsor</h3>
    <div class="row">
      <div class="col-lg-12">
        <p><a href="sponsors.html#tdf"><img src="/images/sponsors/tdf.png" alt="LibreOffice" class="img-fluid" width="600"></a></p>
      </div>
    </div>

    <h3>Gold Sponsor</h3>
    <div class="row">
      <div class="col-lg-12"> 
        <p><a href="sponsors.html#cyboze"><img src="/images/sponsors/cyboze.png" alt="Cyboze Inc." class="img-fluid" width="300"></a></p>
      </div>
    </div>

    <h3>Silver Sponsor</h3>
    <div class="row d-flex align-items-center">
      <div class="col-lg-2"></div> 
      <div class="col-lg-3"> 
        <p><a href="sponsors.html#fans"><img src="/images/sponsors/fans.png" alt="FANS" class="img-fluid" width="300"></a></p>
      </div>
      <div class="col-lg-3"> 
        <p><a href="sponsors.html#ospn"><img src="/images/sponsors/ospn.png" alt="OSPN" class="img-fluid" width="300"></a></p>
      </div>
      <div class="col-lg-3"> 
        <p><a href="sponsors.html#icraft"><img src="/images/sponsors/icraft.png" alt="iCRAFT" class="img-fluid" width="300"></a></p>
      </div>
    </div>

    <h3>Blonze Sponsor</h3>
    <div class="row d-flex align-items-center">
      <div class="col-lg-4"></div> 
      <div class="col-lg-4"> 
        <p><a href="sponsors.html#inforle"><img src="/images/sponsors/inforle.png" alt="Inforle" class="img-fluid" width="200"></a></p>
      </div>
    </div>
 </div>

</section>
