---
title: LibreOffice Asia Conference 2019
menu:
  - name: HOME
    url: /
  - name: PROGRAM
    url: program.html
  - name: SPONSORS
    url: sponsors.html
  - name: EN
    url: index_en.html
---
<div id="title">
  <h1>
    <img src="images/libreoffice-initial-artwork-logo-colorlogobasic-2000px_1_orig.png" alt="LibreOffice" width=80%/><br/>アジアカンファレンス<br/>2019 東京
  </h1>
  <div class="dates">
    <div class="dates-inner">
      2019/5/25(土) カンファレンス（セミナー形式）・懇親会<br/>
      2019/5/26(日) LibreOfficeビジネスデー、CJK HackFest
    </div>
  </div>
</div>

<div class="content content-odd">
<h2>LibreOffice Asia Conferenceとは</h2>
<div class="inner">
<p>
アジア地区におけるLibreOfficeの利用者、開発者、翻訳者、その他コミュニティ貢献者が集まり、さまざまなノウハウを共有し合うイベントです。アジア圏におけるLibreOfficeやその標準フォーマットへの移行の現状、使い方、開発、その他のコミュニティ活動について議論します。2019年、初の開催が東京で行われることとなりました。</p>
<p>2019年のテーマは「LibreOfficeとビジネス」です。そのため、LibreOfficeの公式認定委員会より共同委員長のItalo Vignoli、Lothar Becker両氏をお招きし、LibreOfficeでのビジネスをご検討頂いている方向けのワークショップや、さらには日本初、アジア圏で2回目の認定移行専門家・認定トレーナー・認定開発者向けの面接も行われる予定です。</p>
<p>もちろん、本イベントは例年行われておりますLibreOffice Kaigiを含んだ形となっておりますので、日本語での講演も行われます。ふるってご参加ください。</p>
</div>
</div>

<div class="content content-even">
<h2>ゲスト</h2>
<div class="inner">
<table class="guest">
  <tbody>
    <tr>
      <td><img class="guest" src="images/guests/italo.png" alt="Italo Vignoli"></td>
      <td>
        <span class="guestname">Italo Vignoli</span>
        <ul>
          <li>LibreOffice / Document Foundation創始者の一人
          <li>The Document Foundationマーケティング・PRチームリード
          <li>The Document Foundation公式LibreOffice認定委員会 共同委員長
      </td>
    </tr>
    <tr>
      <td><img class="guest" src="images/guests/lothar.png" alt="Lothar Becker"></td>
      <td>
        <span class="guestname">Lother Becker</span>
        <ul>
          <li>The Document Foundation公式LibreOffice認定委員会 共同委員長
      </td>
    </tr>
    <tr>
      <td><img class="guest" src="images/guests/franklin.png" alt="Franklin Weng"></td>
      <td>
        <span class="guestname">Franklin Weng</span>
        <ul>
          <li>The Document Foundationマーケティング担当理事
          <li>アジア初めてのTDF理事
          <li>台湾政府ODF移行計画推進者
      </td>
    </tr>
    <tr>
      <td><img class="guest" src="images/guests/mark.png" alt="Mark Hung"></td>
      <td>
        <span class="guestname">Mark Hung</span>
        <ul>
          <li>台湾にて主にWriterのCJKの扱いや、EPUB、PowerPointインポートなど幅広いエリアで活発に活動を行う開発者
      </td>
    </tr>
    <tr>
      <td><img class="guest" src="images/guests/haris.png" alt="Ahmad Haris"></td>
      <td>
        <span class="guestname">Afmad Haris</span>
        <ul>
          <li>インドネシアコミュニティから世界に活動を広げる活動家
          <li>アジア初のTDFメンバーシップ委員
      </td>
    </tr>
  </tbody>
</table>
</div>
</div>
<div class="content content-odd">
  <h2>会場</h2>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3240.79832889863!2d139.7720778144269!3d35.6819674375406!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188c46de1a941d%3A0x4fe7d8e930a3b4e!2z44K144Kk44Oc44Km44K65qCq5byP5Lya56S-!5e0!3m2!1sja!2sjp!4v1548975488546" width="600" height="450" frameborder="0" style="border:0" allowfullscreen=""></iframe>
<p>
サイボウズ株式会社 東京オフィス<br/>
〒103-6027<br/>
東京都中央区日本橋2-7-1 東京日本橋タワー 27階
</p>
</div>
<div class="content content-even">
  <h2>お申し込み</h2>
  <p>サイトは近日中にオープンします。しばらくお待ちください。</p>
  </h2>
</div>
<div class="content content-odd">
  <h2>スポンサー</h2>
  <p>スポンサーは随時受け付け中です。<br/>
  お問い合わせは <a href="mailto:libo-asia-contact@libreoffice.jp">libo-asia-contact@libreoffice.jp</a> まで</p>
</div>