---
title: LibreOffice Asia Conference 2019
menu:
  - name: HOME
    url: index_en.html
  - name: PROGRAM
    url: program.html
  - name: SPONSORS
    url: sponsors.html
  - name: JAPANESE
    url: /
---
<div id="title">
  <h1>
    <img src="images/libreoffice-initial-artwork-logo-colorlogobasic-2000px_1_orig.png" alt="LibreOffice" width=80%/><br/>Asia Conference<br/>2019 Tokyo
  </h1>
  <div class="dates">
    <div class="dates-inner">
      May 25th, 2019 (Sat): Conference, Party<br/>
      May 26th, 2019 (Sun): Business day, CJK HackFest
    </div>
  </div>
</div>

<div class="content content-odd">
<h2>About LibreOffice Asia Conference</h2>
<div class="inner">
<p>
The event will gathers LibreOffice end-users, developers, translators in Asian region, or any other community contributors, to exchange their knowledge each other.  In there, we'll discuss about migration to LibreOffice and Open Document Format (ODF), usage of LibreOffice, and other many topics within Asia.  In this year, 2019, we'll hold the first Asia Conference in Tokyo.</p>
<p>The theme of 2019's Asia Conference is "LibreOffice and Business."  Thus, we'll invite Mr. Italo Vignoli and Mr. Lothar Becker, from The Document foundation Certification committee,  and will have the workshop for people / companies who has interest to do LibreOffice buisness (such as end-users support, training or else), and 2nd Asian (1st Japanese) certification interviews.</p>
<p>This event, of course, includes Japanese annual event "LibreOffice Kaigi," and we have Japanese and English tracks.</p>
</div>
</div>

<div class="content content-even">
<h2>Guests</h2>
<div class="inner">
<table class="guest">
  <tbody>
    <tr>
      <td><img class="guest" src="images/guests/italo.png" alt="Italo Vignoli"></td>
      <td>
        <span class="guestname">Italo Vignoli</span>
        <ul>
          <li>One of the founders of LibreOffice / Document Foundation
          <li>The Document Foundation marketing / PR team lead
          <li>The Document Foundation Certification committee co-chair
      </td>
    </tr>
    <tr>
      <td><img class="guest" src="images/guests/lothar.png" alt="Lothar Becker"></td>
      <td>
        <span class="guestname">Lother Becker</span>
        <ul>
          <li>The Document Foundation Certification committee co-chair
      </td>
    </tr>
    <tr>
      <td><img class="guest" src="images/guests/franklin.png" alt="Franklin Weng"></td>
      <td>
        <span class="guestname">Franklin Weng</span>
        <ul>
          <li>The Asian first The Board of Director of The Document Foundation
          <li>who leads ODF migration in Taiwan
      </td>
    </tr>
    <tr>
      <td><img class="guest" src="images/guests/mark.png" alt="Mark Hung"></td>
      <td>
        <span class="guestname">Mark Hung</span>
        <ul>
          <li>A developers from Taiwan who works widely area like Writer CJK features, EPUB exports and Impress PPTX filters improvements.
      </td>
    </tr>
    <tr>
      <td><img class="guest" src="images/guests/haris.png" alt="Ahmad Haris"></td>
      <td>
        <span class="guestname">Afmad Haris</span>
        <ul>
          <li>A FLOSS activist from Indonesia to the world
          <li>The Asian first member of The Membership Committee of The Document Foundation
      </td>
    </tr>
  </tbody>
</table>
</div>
</div>
<div class="content content-odd">
  <h2>Venue</h2>
  <div class="osm">
    <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=139.7699546813965%2C35.679452740320755%2C139.77817296981814%2C35.68453339771748&amp;layer=mapnik&amp;marker=35.68199310945901%2C139.7740638256073" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/?mlat=35.68199&amp;mlon=139.77406#map=17/35.68199/139.77406">View Larger Map</a></small>
  </div>
<p>
Cyboze Inc., Tokyo Office<br/>
103-6027,<br/>
Floor 27, Tokyo Nihonbashi Tower, Chuo-ward, Tokyo, Japan
</p>
<p><a href="https://goo.gl/maps/p6SabV3MZu42">Google map</a></p>
</div>
<div class="content content-even">
  <h2>Registrations</h2>
  <p>The registration site will open soon.</p>
  </h2>
</div>
<div class="content content-odd">
  <h2>Sponsors</h2>
  <p>If you are considering sponsorship for our event, please contact<br/>
  <a href="mailto:libo-asia-contact@libreoffice.jp">libo-asia-contact@libreoffice.jp</a></p>
</div>