---
title: LibreOffice Asia Conference 2019
menu:
  - name: HOME
    url: index.html
  - name: PROGRAM
    url: program.html
  - name: SPONSORS
    url: sponsors.html
  - name: ENGLISH
    url: index_en.html
---

<!-- header -->
<header class="jumbotron jumbotron-fluid text-center text-white mb-0">
  <div class="container py-3">
    <img src="/images/liboasiacon_logo.png" alt="LibreOffice Asia Conference 2019 Tokyo" class="img-fluid">
    <hr class="my-2">
    <p class="lead">
    2019/5/25 (土) カンファレンスデイ(セミナー形式), 懇親会 <br>
    2019/5/26 (日) ビジネスデイ, CJK HackFest
    </p>
  </div>
</header>

<section class="bg-light py-5">
  <div class="container">
    <h2 class="text-center">LibreOffice Asia Conferenceとは</h2>
    <hr class="my-4">
    <p>アジア地区におけるLibreOfficeの利用者、開発者、翻訳者、その他コミュニティ貢献者が集まり、さまざまなノウハウを共有し合うイベントです。アジア圏におけるLibreOfficeやその標準フォーマットへの移行の現状、使い方、開発、その他のコミュニティ活動について議論します。2019年、初の開催が東京で行われることとなりました。</p>
    <p>2019年のテーマは「LibreOfficeとビジネス」です。そのため、LibreOfficeの公式認定委員会より共同委員長のItalo Vignoli、Lothar Becker両氏をお招きし、LibreOfficeでのビジネスをご検討頂いている方向けのワークショップや、さらには日本初、アジア圏で2回目の認定移行専門家・認定トレーナー・認定開発者向けの面接も行われる予定です。</p>
    <p>もちろん、本イベントは例年行われておりますLibreOffice Kaigiを含んだ形となっておりますので、日本語での講演も行われます。ふるってご参加ください。</p>
  </div>
</section>

<section class="py-5">
  <div class="container">
    <h2 class="text-center">基調講演</h2>
    <hr class="my-4">
    <h3 class="text-center"> （タイトル調整中）</h3>
    <div class="row">
      <div class="col-lg-3">
        <img class="rounded-circle" src="images/guests/mark.png" alt="Mark Hung">
      </div>
      <div class="col-lg-9">
        <h4>Mark Hung</h4>
        台湾にて主にWriterのCJKの扱いや、EPUB、PowerPointインポートなど幅広いエリアで活発に活動を行う開発者です。
      </div>
    </div>
    <hr class="my-4">
    <h3 class="text-center">LibreOffice, the many different faces of a global community<br/>
    LibreOffice、グローバルコミュニティでの多様な表情</h3>
    <div class="row">
      <div class="col-lg-3">
        <img class="rounded-circle" src="images/guests/italo.png" alt="Italo Vignoli">
      </div>
      <div class="col-lg-9">
        <h4>Italo Vignoli</h4>
        Italo Vignoli氏はThe Document Foundationの創立メンバーでありLibreItalia協会の名誉議長、
        そしてオープンソースイニシアチブ（OSI）の元評議委員です。
        LibreOfficeのマーケティング、広報およびメディア対応の共同リーダーで、認定プログラムの共同委員長であり、
        またこのプロジェクトのスポークスマンでもあります。イタリアに置いてLibreOfficeの大規模移行プロジェクトに
        貢献してきており、また認定移行専門家かつ認定トレーナーです。2004年から2010年の間、OpenOffice.org
        プロジェクトに参加してきました。
        何十年の間ハイテク産業におけるマーケティングコンサルタントを職業としており、
        またマーケティング、講演および広報についての大学院コースの客員教授でもあります。
        ミラノ大学で人文学の学位を取得し、マーケティング、広報およびジャーナリズムのMBAを取得しています。
    <%# Italo Vignoli is a founding member of The Document Foundation and
Chairman Emeritus of Associazione LibreItalia, and a former board member
at Open Source Initiative (OSI). He co-leads LibreOffice marketing, PR
and media relations, co-chairs the certification program, and is a
spokesman for the project. He has contributed to large migration
projects to LibreOffice in Italy, and is a LibreOffice certified
migrator and trainer. From 2004 to 2010 he has been involved in the OOo
project. In his professional life, he is a marketing consultant with
decades of experience in high tech, and a visiting professor of
marketing, public speaking and PR post-graduate courses. He has a Degree
in Humanities at the University of Milan, and MBAs in Marketing, Public
Relations and Journalism. %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <img class="rounded-circle" src="images/guests/lothar.png" alt="Lothar Becker">
      </div>
      <div class="col-lg-9">
        <h4>Lothar Becker</h4>
        Lothar Becker氏は長きにわたるThe Document Foundationのメンバーであり、
        現在はLibreOfficeの認定委員会 共同委員長です。
        主にデスクトップ関係の、フリーソフトウェア向けのソフトウェアおよびサービス企業の代表取締役を職業としています。
        氏と氏の会社は、OpenOffice.orgの移行とサービスについてのSun Microsystems社とのヨーロッパ初のパートナーであり、
        また個人としては、プロプライエタリなオフィスソフトからフリーなオフィスソフトへの移行プロジェクトと、
        それに関するあらゆる面でのトレーニングにおいて長い実績を持っています。
        カイザースラウテルン大学およびドイツ国立科学大学（DFKI）でコンピュータサイエンス（人工知能）およびビジネス経済学の修士号を取得しています。
        <%# Lothar is a long time member of The Document Foundation and nowadays in
charge of co-chairing
the certification committee for LibreOffice. In his professional life,
he is the managing director of a
software and service company for free software, mainly on the desktop.
He and his company were
the first OpenOffice.org migration and service partner in Europe with
SUN, and he personally has
a long track record in migration projects from proprietary to free
office suites, and in training for
all aspects of it. He holds a master degree in computer science
(Artificial Intelligence) and business
economics from the University of Kaiserslautern and Deutsches
Forschungszentrum für Künstliche
Intelligenz (DFKI). %>
      </div>
    </div>
  </div>
</section>

<section class="py-5">
  <div class="container">
    <h2 class="text-center">ゲスト</h2>
    <hr class="my-4">

    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-4 text-center">
        <img class="rounded-circle" src="images/guests/franklin.png" alt="Franklin Weng">
        <h2>Franklin Weng</h2>
        <p>
          The Document Foundation マーケティング担当理事<br>
          アジア初めての TDF 理事<br>
          台湾政府 ODF 移行計画推進者
        </p>
      </div>
      <div class="col-lg-4 text-center">
        <img class="rounded-circle" src="images/guests/haris.png" alt="Ahmad Haris">
        <h2>Ahmad Haris</h2>
        <p>
          インドネシアコミュニティから世界に活動を広げる活動家<br>
          アジア初のTDFメンバーシップ委員
        </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="text-center bg-light py-5">
  <div class="container">
    <h2>会場</h2>
    <hr class="my-4">
    <p>
    サイボウズ株式会社 東京オフィス<br/>
    〒103-6027 東京都中央区日本橋2-7-1 東京日本橋タワー 27階
    </p>
  </div>
  <iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=139.7699546813965%2C35.679452740320755%2C139.77817296981814%2C35.68453339771748&amp;layer=mapnik&amp;marker=35.68199310945901%2C139.7740638256073"></iframe><br/><small><a href="https://www.openstreetmap.org/?mlat=35.68199&amp;mlon=139.77406#map=17/35.68199/139.77406">大きな地図を表示</a></small>
  <p><a href="https://goo.gl/maps/p6SabV3MZu42">Google map</a></p>
</section>

<section class="text-center py-5">
  <div class="container">
    <h2>お申し込み</h2>
    <hr class="class=my-4">
    <div><a href="https://libojapan.connpass.com/event/127969/">Day 1. カンファレンスデー（2019/5/25（土））</a></div>
    <div>Day 1. カンファレンスデー（2019/5/25（土））懇親会 サイト準備中</div>
    <div><a href="https://libojapan.connpass.com/event/128782/">Day 2. ビジネスワークショップ／CJK HackFest（2019/5/26（日））</a></div>
  </div>
</section>

<section class="text-center bg-light py-5">
  <div class="container align-middle">
    <h2>スポンサー</h2>
    <hr class="my-4">
    <p>スポンサーは随時受け付け中です。お問い合わせは <a href="mailto:libo-asia-contact@libreoffice.jp">libo-asia-contact@libreoffice.jp</a> まで</p>

    <h3>Platinum Sponsor</h3>
    <div class="row">
      <div class="col-lg-12">
        <p><a href="sponsors.html#tdf"><img src="/images/sponsors/tdf.png" alt="LibreOffice" class="img-fluid" width="600"></a></p>
      </div>
    </div>

    <h3>Gold Sponsor</h3>
    <div class="row">
      <div class="col-lg-12"> 
        <p><a href="sponsors.html#cyboze"><img src="/images/sponsors/cyboze.png" alt="Cyboze Inc." class="img-fluid" width="300"></a></p>
      </div>
    </div>

    <h3>Silver Sponsor</h3>
    <div class="row d-flex align-items-center">
      <div class="col-lg-2"></div> 
      <div class="col-lg-3"> 
        <p><a href="sponsors.html#fans"><img src="/images/sponsors/fans.png" alt="FANS" class="img-fluid" width="300"></a></p>
      </div>
      <div class="col-lg-3"> 
        <p><a href="sponsors.html#ospn"><img src="/images/sponsors/ospn.png" alt="OSPN" class="img-fluid" width="300"></a></p>
      </div>
      <div class="col-lg-3"> 
        <p><a href="sponsors.html#icraft"><img src="/images/sponsors/icraft.png" alt="iCRAFT" class="img-fluid" width="300"></a></p>
      </div>
    </div>

    <h3>Blonze Sponsor</h3>
    <div class="row d-flex align-items-center">
      <div class="col-lg-4"></div> 
      <div class="col-lg-4"> 
        <p><a href="sponsors.html#inforle"><img src="/images/sponsors/inforle.png" alt="Inforle" class="img-fluid" width="200"></a></p>
      </div>
    </div>
  </div>
</section>
