---
title: LibreOffice Asia Conference 2019
menu:
  - name: JA HOME
    url: /
  - name: EN HOME
    url: index_en.html
  - name: PROGRAM
    url: program.html
  - name: SPONSORS
    url: sponsors.html
---

<header class="jumbotron jumbotron-fluid text-center text-white mb-0">
  <div class="container py-4">
    <h1>プログラム / Program</h1>
  </div>
</header>

<section class="bg-light text-center py-5">
  <div class="container">
    <h2>プログラム / Program</h2>
    <hr class="my-4">
    <p>
    It will be opened soon...<br>
    公開までしばらくお待ちください。
    </p>
  </div>
</section>

<!-- 
<section class="bg-light py-5">
  <div class="container">
    <h2 class="text-center">25(Sat) Conference Day</h2>
    <hr class="my-4">
    <table class="table table-striped table-responsive col-lg-12">
      <thead class="thead-dark">
        <tr>
          <th class="col-lg-2">Time</th>
          <th class="col-lg-3">Room A (Japanese)</th>
          <th class="col-lg-3">Room B (English)</th>
          <th class="col-lg-4">Room C (English)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>09:00 - 10:00</th>
          <td colspan="3">Preparation</td>
        </tr>
        <tr>
          <th>10:00 - 10:30</th>
          <td colspan="3">Reception</td>
        </tr>
        <tr>
          <th>10:30 - 10:50</th>
          <td colspan="3">Opening</td>
        </tr>
        <tr>
          <th>10:50 - 11:50</th>
          <td colspan="3">Keynote 1: Mark Hung</td>
        </tr>
        <tr>
          <th>11:50 - 13:00</th>
          <td colspan="3">Lunch Break</td>
        </tr>
        <tr>
          <th>13:00 - 13:30</th>
          <td>
            会津若松市 LibreOffice導入事例<br>
            本島 靖（Motojima Yasushi）
          </td>
          <td>
            Model of Educating School Kids using Free Software: Imbibing Integrity and Honesty<br>
            Sreekanth V K A Kerala
          </td>
          <td>
            How to organize Translation Sprint by local language Community<br>
            Biraj Karmakar
          </td>
        </tr>
        <tr>
          <th>13:30 - 14:00</th>
          <td>
            翻訳ゆらぎや関連用語をグラフで視覚化し翻訳範囲を共有する<br>
            案浦 浩二 (Koji Annoura)
          </td>
          <td>
            LibreOffice: Educational practice in China<br>
            Linjie Lv
          </td>
          <td>
            Grow out of nothing, the first successful experience about importing LiberOffice into state-owned company (CPC corporation, Taiwan) since 2016.<br>
            Wen-Ke Huang
          </td>
        </tr>
        <tr>
          <th>14:00 - 14:10</th>
          <td colspan="3">Tea Break</td>
        </tr>
        <tr>
          <th>14:10 - 14:40</th>
          <td>
            Nextcloud で Libreoffice Online を使えるようにするにはどうする?<br>
            矢野 哲朗（YANO Tetsurou）
          </td>
          <td>
            LibreOffice Migrations &amp; the power of Open Standards<br>
            Silva Arapi
          </td>
          <td>
            LibreOffice Flatpak, Snap and AppImage: Which one is Suitable?<br>
            Kukuh Syafaat
          </td>
        </tr>
        <tr>
          <th>14:40 - 15:10</th>
          <td>
            LibreOffice Onlineの大規模環境での稼働<br>
            村上 正記（Masaki Murakami）
          </td>
          <td>
            Our Seven Years Experience Running LibreOffice At FANS Shoes Manufacture<br>
            Iwan S. Tahari
          </td>
          <td>
            New ODF Toolkit from TDF (The Document Foundation)<br>
            Svante Schubert
          </td>
        </tr>
        <tr>
          <th>15:10 - 15:40</th>
          <td colspan="3">Break</td>
        </tr>
        <tr>
          <th>15:40 - 16:10</th>
          <td>
            ParseJSONを作るぞ<br>
            荒川 雄介（Yusuke Arakawa）
          </td>
          <td>
            CJK issues (based on Korean Language and Ideographs[漢字, Chinese characters]) on LibreOffice<br>
            DaeHyun Sung(성대현/成大鉉/ソン・デヒョン)
          </td>
          <td>
            Collabora Online and what is new in latest version – 4.0<br>
            Tomaž Vajngerl
          </td>
        </tr>
        <tr>
          <th>16:10 - 16:40</th>
          <td colspan="3">Lightning talks</td>
        </tr>
        <tr>
          <th>16:40 - 16:50</th>
          <td colspan="3">Break</td>
        </tr>
        <tr>
          <th>16:50 - 17:50</th>
          <td colspan="3">Keynote 2: Italo &amp; Lothar</td>
        </tr>
        <tr>
          <th>17:50 - 18:00</th>
          <td colspan="3">Break</td>
        </tr>
        <tr>
          <th>18:00 - 19:00</th>
          <td colspan="3">Party preparation</td>
        </tr>
        <tr>
          <th>19:00 - 20:30</th>
          <td colspan="3">Party</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<section class="py-5">
  <div class="container">
    <h2 class="text-center">26 (Sun) Business Day / CJK HackFest</h2>
    <hr class="my-4">
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th class="col-lg-2">Time</th>
          <th class="col-lg-5">Room A</th>
          <th class="col-lg-5">Room B</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>10:00 - 12:00</th>
          <td>HackFest</td>
          <td></td>
        </tr>
        <tr>
          <th>12:00 - 13:00</th>
          <td colspan="2">Launch Break</td>
        </tr>
        <tr>
          <th>13:00 - 13:30</th>
          <td rowspan="3">HackFest</td>
          <td>Business Workshop 受付</td>
        </tr>
        <tr>
          <th>13:30 - 16:30</th>
          <td>Business Workshop</td>
        </tr>
        <tr>
          <th>16:30 - 17:30</th>
          <td>認定面接</td>
        </tr>
        <tr>
          <th>17:30 - 18:00</th>
          <td colspan="2">Closing</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
-->