---
title: LibreOffice Asia Conference 2019
menu:
  - name: JA HOME
    url: /
  - name: EN HOME
    url: index_en.html
  - name: PROGRAM
    url: program.html
  - name: TALKS
    url: talks.html
  - name: SPONSORS
    url: sponsors.html
---

<header class="jumbotron jumbotron-fluid text-center text-white mb-0">
  <div class="container py-4">
    <h1>プログラム / Program</h1>
  </div>
</header>

<section class="bg-light text-center py-5">
  <div class="container">
    <h2>Day 1. 2019.5.25 (Sat)</h2>
    <hr class="my-4">

    <table class="table">
      <thead>
        <tr>
          <th class="time">Start<br/>開始</th>
          <th class="time">End<br/>終了</th>
          <th>Track1 (JA / 日本語)</th>
          <th>Track2 (EN / 英語)</th>
          <th>Track3 (EN / 英語)</th>
        </tr>
        </thead>
      <tbody>
        <tr>
          <td>10:00</td>
          <td>10:30</td>
          <td colspan=3>Gate Open / 開場</td>
        </tr>
      <tr>
        <td>10:30</td>
        <td>10:50</td>
        <td colspan=3>Opening / オープニングトーク</td>
      </tr>
      <tr>
        <td>10:50</td>
        <td>11:50</td>
        <td colspan=3>Keynote 1 (TBA) / 基調講演1</td>
      </tr>
      <tr>
        <td>11:50</td>
        <td>13:00</td>
        <td colspan=3>Lunch Break / 昼食休憩</td>
      </tr>
      <tr>
        <td>13:00</td>
        <td>13:30</td>
        <td><div class="speaker">本島 靖 Motojima Yasushi</div>会津若松市 LibreOffice導入事例</td>
        <td><div class="speaker">Sreekanth V K</div>A Kerala Model of Educating School Kids using Free Software: Imbibing Integrity and Honesty</td>
        <td><div class="speaker">Wen-Ke Huang</div>Grow out of nothing, the first successful experience about importing LibreOffice into state-owned company (CPC corporation, Taiwan) since 2016.</td>
      </tr>
      <tr>
        <td>13:30</td>
        <td>14:00</td>
        <td><div class="speaker">案浦 浩二 Koji Annoura</div>翻訳ゆらぎや関連用語をグラフで視覚化し翻訳範囲を共有する</td>
        <td><div class="speaker">Linjie Lv</div>LibreOffice: Educational practice in China</td>
        <td><div class="speaker">Biraj Karmakar</div>How to organize Translation Sprint by local language Community</td>
      </tr>
      <tr>
        <td>14:00</td>
        <td>14:10</td>
        <td colspan=3>Break / 休憩</td>
      </tr>
      <tr>
        <td>14:10</td>
        <td>14:40</td>
        <td><div class="speaker">矢野 哲朗 YANO Tetsurou</div>Nextcloud で Libreoffice Online を使えるようにするにはどうする？</td>
        <td><div class="speaker">Silva Arapi</div>LibreOffice Migrations &amp; the power of Open Standards</td>
        <td><div class="speaker">Kukuh Syafaat</div>LibreOffice Flatpak, Snap and AppImage: Which one is Suitable?</td>
      </tr>
      <tr>
        <td>14:40</td>
        <td>15:10</td>
        <td><div class="speaker">村上 正記 Masaki Murakami</div>LibreOffice Onlineの大規模環境での稼働</td>
        <td><div class="speaker">Iwan S. Tahari</div>Our Seven Years Experience Running LibreOffice At FANS Shoes Manufacture</td>
        <td><div class="speaker">Svante Schubert</div>New ODF Toolkit from TDF (The Document Foundation)</td>
      </tr>
      <tr>
        <td>15:10</td>
        <td>15:40</td>
        <td colspan=3>Coffee Break / コーヒー休憩</td>
      </tr>
      <tr>
        <td>15:40</td>
        <td>16:10</td>
        <td><div class="speaker">荒川 雄介 Yusuke Arakawa</div>ParseJSONを作るぞ</td>
        <td><div class="speaker">DaeHyun Sung<br />(성대현/成大鉉/ソン・デヒョン)</div>CJK issues (based on Korean Language and Ideographs[漢字, Chinese characters]) on LibreOffice</td>
        <td><div class="speaker">Tomaž Vajngerl</div>Collabora Online and what is new in latest version – 4.0</td>
      </tr>
      <tr>
        <td>16:10</td>
        <td>16:40</td>
        <td colspan=3>Lightning Talks / ライトニングトーク</td>
      </tr>
      <tr>
        <td>16:40</td>
        <td>16:50</td>
        <td colspan=3>Break / 休憩</td>
      </tr>
      <tr>
        <td>16:50</td>
        <td>17:50</td>
        <td colspan=3>Keynote 2 (TBA) / 基調講演2</td>
      </tr>
      <tr>
        <td>17:50</td>
        <td>18:00</td>
        <td colspan=3>Closing / クロージング</td>
      </tr>
      <tr>
        <td>18:00</td>
        <td>18:30</td>
        <td colspan=3>Break (Party preparation) / 懇親会前の休憩・準備</td>
      </tr>
      <tr>
        <td>18:30</td>
        <td>20:30</td>
        <td colspan=3>Party / 懇親会</td>
      </tr>
      </tbody>
    </table>
  </div>
</section>

<section class="bg-light text-center py-5">
  <div class="container">
    <h2>Day 2. 2019.5.26 (Sun)</h2>
    <hr class="my-4">

    <table class="table">
      <thead>
        <tr>
          <th class="time">Start<br/>開始</th>
          <th class="time">End<br/>終了</th>
          <th>Business Workshop<br/>ビジネスワークショップ</th>
          <th>CJK HackFest</th>
        </tr>
        </thead>
      <tbody>
        <tr>
          <td>10:00</td>
          <td>10:30</td>
          <td colspan=2>Gate Open / 開場</td>
        </tr>
      <tr>
        <td>10:30</td>
        <td>12:00</td>
        <td>Business Workshop / ビジネスワークショップ</td>
        <td>CJK HackFest</td>
      </tr>
      <tr>
        <td>12:00</td>
        <td>13:30</td>
        <td colspan=2>Lunch Break / 昼食休憩</td>
      </tr>
      <tr>
        <td>13:30</td>
        <td>14:30</td>
        <td>Business Workshop / ビジネスワークショップ</td>
        <td>CJK HackFest</td>
      </tr>
      <tr>
        <td>14:30</td>
        <td>16:30</td>
        <td>Certification interviews / 認定面接</td>
        <td>CJK HackFest</td>
      </tr>
        <tr>
        <td>16:30</td>
        <td>17:50</td>
        <td>Local (Asia) cerfitication discussion <br/>/ 地域（アジア）認定についての議論</td>
        <td>CJK HackFest</td>
      </tr>
      <tr>
        <td>17:50</td>
        <td>18:00</td>
        <td colspan=2>Closing / クロージング</td>
      </tr>
      </tbody>
    </table>
    <p>NOTE: The interviews are to review <a href="https://www.documentfoundation.org/certification/program/">The Document Foundation's official LibreOffice Cerfitication</a>. It is for candidates who have been applied in advance, but you may watch if you aren't candidates.</p>
    <p>注：認定面接は、The Document Foundation公式のLibreOffice認定制度の審査のための面接です。あらかじめ応募された候補者に対してのものですが、候補者以外が見ることもできます。</p>
  </div>
</section>
