---
title: LibreOffice Asia Conference 2019
menu:
  - name: JA HOME
    url: /
  - name: EN HOME
    url: index_en.html
  - name: PROGRAM
    url: program.html
  - name: SPONSORS
    url: sponsors.html
---

<header class="jumbotron jumbotron-fluid text-center text-white mb-0">
  <div class="container py-4">
    <h1>プログラム / Program</h1>
  </div>
</header>

<section class="bg-light text-center py-5">
  <div class="container">
    <h2>プログラム / Program</h2>
    <hr class="my-4">
    <p>
    It will be opened soon...<br>
    公開までしばらくお待ちください。
    </p>
  </div>
</section>
