---
title: LibreOffice Asia Conference 2019
menu:
  - name: JA HOME
    url: /
  - name: EN HOME
    url: index_en.html
  - name: PROGRAM
    url: program.html
  - name: TALKS
    url: talk.html
  - name: SPONSORS
    url: sponsors.html
---

<header class="jumbotron jumbotron-fluid text-center text-white mb-0">
  <div class="container py-4">
    <h1>プログラム / Program</h1>
  </div>
</header>

<section class="bg-light text-center py-5">
  <div class="container">
    <h2>Day 1. 2019.5.25 (Sat)</h2>
    <hr class="my-4">

    <table class="table">
      <thead>
        <tr>
          <th class="time">Start<br/>開始</th>
          <th class="time">End<br/>終了</th>
          <th>Track1 (JA / 日本語)</th>
          <th>Track2 (EN / 英語)</th>
          <th>Track3 (EN / 英語)</th>
        </tr>
        </thead>
      <tbody>
        <tr>
          <td>10:00</td>
          <td>10:30</td>
          <td colspan=3>Gate Open / 開場</td>
        </tr>
      <tr>
        <td>10:30</td>
        <td>10:50</td>
        <td colspan=3>Opening / オープニングトーク</td>
      </tr>
      <tr>
        <td>10:50</td>
        <td>11:50</td>
        <td colspan=3>
        Keynote 1 / 基調講演1: 
        <div class="speaker">Mark Hung</div>
        LibreOffice CJK Bugs, Fixes, and Stories.<br/>
        LibreOffice CJKのバグ、修正、そして物語
        <div><a href="slides/Mark.Hung_LibreOffice_CJK_Bugs_Fixes_and_Stories.pdf" target="_blank">PDF</a>
        <a href="slides/Mark.Hung_LibreOffice_CJK_Bugs_Fixes_and_Stories.Japanese.pdf" target="_blank">日本語訳</a></div>
        </td>
      </tr>
      <tr>
        <td>11:50</td>
        <td>13:00</td>
        <td colspan=3>Lunch Break / 昼食休憩</td>
      </tr>
      <tr>
        <td>13:00</td>
        <td>13:30</td>
        <td><div class="speaker">本島 靖 Motojima Yasushi</div>会津若松市 LibreOffice導入事例
        <div><a href="slides/Motojima Yasushi_会津若松市LibreOffice導入事例.pdf" target="_blank">PDF</a></div>
        </td>
        <td>[CANCELED]<div class="speaker">Sreekanth V K</div>A Kerala Model of Educating School Kids using Free Software: Imbibing Integrity and Honesty</td>
        <td><div class="speaker">Wen-Ke Huang</div>Grow out of nothing, the first successful experience about importing LibreOffice into state-owned company (CPC corporation, Taiwan) since 2016.
        <div><a href="slides/Wenke Huang_Grow out of nothing, the first successful experience about importing LibreOffice into state-owned company.pdf" target="_blank">PDF</a></div></td>
      </tr>
      <tr>
        <td>13:30</td>
        <td>14:00</td>
        <td><div class="speaker">案浦 浩二 Koji Annoura</div>翻訳ゆらぎや関連用語をグラフで視覚化し翻訳範囲を共有する
        <div><a href="slides/Koji Annoura_LibreOfficeTranslationGraph.pdf" target="_blank">PDF</a></div></td>
        <td><div class="speaker">Linjie Lv</div>LibreOffice: Educational practice in China
        <div><a href="slides/Lv Linjie_LibreOffice- Educational practice in China.pdf" target="_blank">PDF</a></div></td>
        <td><div class="speaker">Biraj Karmakar</div>How to organize Translation Sprint by local language Community
        <div><a href="slides/" target="_blank">PDF</a></div></td>
      </tr>
      <tr>
        <td>14:00</td>
        <td>14:10</td>
        <td colspan=3>Break / 休憩</td>
      </tr>
      <tr>
        <td>14:10</td>
        <td>14:40</td>
        <td><div class="speaker">矢野 哲朗 YANO Tetsurou</div>Nextcloud で Libreoffice Online を使えるようにするにはどうする？
        <div><a href="slides/Tetsurou Yano_Nextcloud Libreoffice Online.pdf" target="_blank">PDF</a></div></td>
        <td><div class="speaker">Silva Arapi</div>LibreOffice Migrations &amp; the power of Open Standards
        <div><a href="slides/Silva Arapi_LibreOffice_Migrations_and_the_power_of_Open_Standards.pdf" target="_blank">PDF</a></div></td>
        <td><div class="speaker">Kukuh Syafaat</div>LibreOffice Flatpak, Snap and AppImage: Which one is Suitable?
        <div><a href="slides/Kukuh Syafaat_Flatpak-Snap-AppImage.pdf" target="_blank">PDF</a></div></td>
      </tr>
      <tr>
        <td>14:40</td>
        <td>15:10</td>
        <td><div class="speaker">村上 正記 Masaki Murakami</div>LibreOffice Onlineの大規模環境での稼働
        <div><a href="slides/Masaki Murakami_LibreOffice Onlineの大規模環境での稼働.pdf" target="_blank">PDF</a></div></td>
        <td><div class="speaker">Iwan S. Tahari</div>Our Seven Years Experience Running LibreOffice At FANS Shoes Manufacture
        <div><a href="slides/" target="_blank">PDF</a></div></td>
        <td><div class="speaker">Svante Schubert</div>New ODF Toolkit from TDF (The Document Foundation)
        <div><a href="slides/Svante.Schubert_New ODF Toolkit from the Document Foundation.pdf" target="_blank">PDF</a></div></td>
      </tr>
      <tr>
        <td>15:10</td>
        <td>15:40</td>
        <td colspan=3>Coffee Break / コーヒー休憩</td>
      </tr>
      <tr>
        <td>15:40</td>
        <td>16:10</td>
        <td><div class="speaker">荒川 雄介 Yusuke Arakawa</div>ParseJSONを作るぞ
        <div><a href="slides/Yusuke Arakawa_LibreOffice Calc PARSEJSON 関数を作るぞ.pdf" target="_blank">PDF</a></div></td>
        <td><div class="speaker">DaeHyun Sung<br />(성대현/成大鉉/ソン・デヒョン)</div>CJK issues (based on Korean Language and Ideographs[漢字, Chinese characters]) on LibreOffice
        <div><a href="slides/DaeHyun Sung_Korean Language.pdf" target="_blank">PDF</a></div></td>
        <td><div class="speaker">Tomaž Vajngerl</div>Collabora Online and what is new in latest version – 4.0
        <div><a href="slides/" target="_blank">PDF</a></div></td>
      </tr>
      <tr>
        <td>16:10</td>
        <td>16:40</td>
        <td colspan=3>Lightning Talks / ライトニングトーク:<br/>
          <div>Masahiko Hashimoto / 橋本雅彦: LibreOfficeに最適な次世代型日本語入力 <a href="slides/" target="_blank">PDF</a></div>
          <div>Jun Noagata / 野方純: "すべてのユーザーによりよい設定"を考える <a href="slides/Jun.Nogata_Think_a_Better_Settings_for_All_Users.pdf" target="_blank">PDF</a></div>
          <div>Agada Ihuoma Sophia: Expanding LibreOffice Contribution to West Africa <a href="slides/Agada.Ihuoma.Sophia_Expanding_LibreOffice_Contribution_to_West_Africa.pdf" target="_blank">PDF</a></div>
          <div>Hatochan@Koedolug / はとちゃん@小江戸らぐ: Potential of DX by LibreOffice <a href="slides/" target="_blank">PDF</a></div>
          <div>Hiroshi Miura / 三浦広志: みんなの自動翻訳＠TexTraの活用（仮） <a href="slides/" target="_blank">PDF</a></div>
          <div>榎真治 / Shinji Enoki: Looking back on LibreOffice Japanese community <a href="slides/Shinji.Enoki_Looking_back_on_LibreOffice_Japanese_community.pdf" target="_blank">PDF</a></div>
        </td>
      </tr>
      <tr>
        <td>16:40</td>
        <td>16:50</td>
        <td colspan=3>Break / 休憩</td>
      </tr>
      <tr>
        <td>16:50</td>
        <td>17:50</td>
        <td colspan=3>
        Keynote 2 / 基調講演2: 
        <div class="speaker">Italo Vignoli</div>
        LibreOffice, the many different faces of a global community<br/>
        LibreOffice、グローバルコミュニティの多様な側面
        <div><a href="slides/Italo.Vignoli_LibreOffice_the_many_different_faces_of_a_global_community.pdf" target="_blank">PDF</a>
        <a href="slides/Italo.Vignoli_LibreOffice_the_many_different_faces_of_a_global_community.Japanese.pdf" target="_blank">日本語訳</a></div>
        <div class="speaker">Lothar Becker</div>
        Certified as a LibreOffice professional - a win/win/win situation for the community<br/>
        LibreOffice 専門家として認定をうけること - コミュニティにとってWin / Win / Win な状況
        <div><a href="slides/Lothar.Becker_Certified_as_a_LibreOffice_professional_a_win_win_win_situation_for_the_community.pdf" target="_blank">PDF</a>
        <a href="slides/Lothar.Becker_Certified_as_a_LibreOffice_professional_a_win_win_win_situation_for_the_community.Japanese.pdf" target="_blank">日本語訳</a></div>
        </td>
      </tr>
      <tr>
        <td>17:50</td>
        <td>18:00</td>
        <td colspan=3>Closing / クロージング</td>
      </tr>
      <tr>
        <td>18:00</td>
        <td>18:30</td>
        <td colspan=3>Break (Party preparation) / 懇親会前の休憩・準備</td>
      </tr>
      <tr>
        <td>18:30</td>
        <td>20:30</td>
        <td colspan=3>Party / 懇親会</td>
      </tr>
      </tbody>
    </table>
  </div>
</section>

<section class="bg-light text-center py-5">
  <div class="container">
    <h2>Day 2. 2019.5.26 (Sun)</h2>
    <hr class="my-4">

    <table class="table">
      <thead>
        <tr>
          <th class="time">Start<br/>開始</th>
          <th class="time">End<br/>終了</th>
          <th>Business Workshop<br/>ビジネスワークショップ</th>
          <th>CJK HackFest</th>
        </tr>
        </thead>
      <tbody>
        <tr>
          <td>10:00</td>
          <td>10:30</td>
          <td colspan=2>Gate Open / 開場</td>
        </tr>
      <tr>
        <td>10:30</td>
        <td>12:00</td>
        <td>Business Workshop / ビジネスワークショップ</td>
        <td>CJK HackFest</td>
      </tr>
      <tr>
        <td>12:00</td>
        <td>13:30</td>
        <td colspan=2>Lunch Break / 昼食休憩</td>
      </tr>
      <tr>
        <td>13:30</td>
        <td>14:30</td>
        <td>Business Workshop / ビジネスワークショップ</td>
        <td>CJK HackFest</td>
      </tr>
      <tr>
        <td>14:30</td>
        <td>16:30</td>
        <td>Certification interviews / 認定面接</td>
        <td>CJK HackFest</td>
      </tr>
        <tr>
        <td>16:30</td>
        <td>17:50</td>
        <td>Local (Asia) cerfitication discussion <br/>/ 地域（アジア）認定についての議論</td>
        <td>CJK HackFest</td>
      </tr>
      <tr>
        <td>17:50</td>
        <td>18:00</td>
        <td colspan=2>Closing / クロージング</td>
      </tr>
      </tbody>
    </table>
    
    <hr class="my-4">
    <h3>Business Workshop / ビジネスワークショップ</h3>
    <p>We will discuss following topics (以下のようなトピックについて話し合います。英語で行われますが参加者同士で補い合いましょう):</p>
      The business model of FOSS and LibreOffice<br/>
      What kind of LibreOffice business services should we provide<br/>
      How to communicate with customers<br/>
      Certification and migration/training protocols in depth<br/>
      Experiences sharing
    <hr class="my-4">

    <h3>Certification interviews / 認定面接</h3>
    <p>The interviews are to review <a href="slides/https://www.documentfoundation.org/certification/program/">The Document Foundation's official LibreOffice Cerfitication</a>. It is for candidates who have been applied in advance, but you may watch if you aren't candidates.<br/>
    認定面接は、The Document Foundation公式のLibreOffice認定制度の審査のための面接です。あらかじめ応募された候補者に対してのものですが、候補者以外が見学することもできます。</p>

    <hr class="my-4">
    <h3>CJK HackFest</h3>
    <p>Let's hack together (mainly) CJK features of LibreOffice, with Mark Hung, the LibreOffice hacker from Taiwan as the tutor!<br/>
    台湾のLibreOfficeハッカー Mark Hung氏をチューターとして、LibreOfficeのCJKを題材としたハックを学びます。</p>
    <p>Please make sure you bring your laptop, clone LibreOffice code into it, then build at least once, by following <a href="slides/https://wiki.documentfoundation.org/Development">the instruction.</a><br/>
    LibreOfficeのソースコードをcloneし、<a href="slides/https://wiki.documentfoundation.org/Development">指示にしたがって</a>一度はビルドしたノートパソコンをご持参ください。</p>
  </div>
</section>
