---
title: LibreOffice Asia Conference 2019 - Sponsors
menu:
  - name: JA HOME
    url: /
  - name: EN HOME
    url: index_en.html
  - name: PROGRAM
    url: program.html
  - name: TALKS
    url: talks.html
  - name: SPONSORS
    url: sponsors.html
---

<header class="jumbotron jumbotron-fluid text-center text-white mb-0">
  <div class="container py-4">
    <h1>スポンサー / Sponsors</h1>
  </div>
</header>

<section class="bg-light text-center py-5">
  <div class="container">
    <h2>プラチナ・スポンサー / Platinum</h2>
    <hr class="my-4">
    <div class="row">
      <div class="col-lg-12">
        <h3 id="tdf">The Document Foundation</h3>
        <p><a href="http://libreoffice.org/"><img src="/images/sponsors/tdf.png" alt="LibreOffice" class="img-fluid"></a></p>
        <p>The Document Foundationは、世界をリードする自由で無償のオフィスソフトの次の進化である<a href="https://ja.libreoffice.org">LibreOffice</a>の、また独占的なファイル形式からそれに対応するODF形式に変換する強力なツールを提供することでユーザーをベンダーロックインから解放するために集った開発者のコミュニティである<a href="https://www.documentliberation.org/">The Document Liberation Project</a>の母体であることを誇りとしています。</p>
        <p>The Document Foundation is proud to be the home of <a href="https://www.libreoffice.org">LibreOffice</a>, the next evolution of the world's leading free office suite, and <a href="https://www.documentliberation.org/">The Document Liberation Project</a>, a community of developers united to free users from vendor lock-in of content by providing powerful tools for the conversion of proprietary file formats to the corresponding ODF format.</p>
      </div>
    </div>
  </div>
</section>

<section class="text-center py-5">
  <div class="container">
    <h2>ゴールド・スポンサー / Gold</h2>
    <hr class="my-4">
    <p>現在、募集中です</p>
    <div class="row">
      <div class="col-lg-12"> 
      </div>
    </div>
  </div>
</section>

<section class="bg-light text-center py-5">
  <div class="container">
    <h2>シルバー・スポンサー / Silver</h2>
    <hr class="my-4">
    <div class="row">
      <div class="col-lg-12"> 
        <h3 id="fans">FANS</h3>
        <p><a href="http://sepatuku.fans.co.id/"><img src="/images/sponsors/fans.png" alt="FANS" class="img-fluid"></a></p>
        <p>FANSは2001年創業のインドネシアのブランドシューズです。FANS工場はインドネシア・タンゲランのジャタケ工業団地に位置し、2012年からフリー／オープンソースソフトウェアを採用しています。Linuxベースのデスクトップオペレーティングシステムと共に、FANSはLibreOffice 3から、最新の安定版であるLibreOffice 6に至るまで、今でもLibreOfficeを主要かつ唯一のオフィススイートソフトウェアとして利用しています。FANSはLibreOffice Asia、GNOME Asia、openSUSE Asia, インドネシア語Gcompris翻訳プロジェクトなどのFOSSイベント、その他Blankon LinuxやTeaLinuxといったインドネシア地域コミュニティをスポンサーし、また貢献しています。</p>
        <p>FANS is Indonesian brand shoes established in 2001. Located in Jatake Industrial Complex in Tangerang Indonesia, FANS factory has adopted Free Open Source Software since 2012. Along with Linux based Desktop Operating System, FANS is still using LibreOffice as the main and only productivity office suite software. From LibreOffice 3 until the latest stable version of LibreOffice 6. FANS has sponsored and actively contributed to FOSS event like LibreOffice Asia,Gnome Asia, openSUSE Asia, Indonesian Gcompris translation project, and other local Indonesian FOSS community like Blankon Linux,and TeaLinux.</p>
      </div>
      <div class="col-lg-12"> 
        <h3 id="ospn">OSPN.jp</h3>
        <p><a href="https://www.ospn.jp/"><img src="/images/sponsors/ospn.png" alt="OSPN.jp" class="img-fluid"></a></p>
        <p></p>
        <p></p>
      </div>
    </div>
  </div>
</section>

<section class="text-center py-5">
  <div class="container">
    <h2>ブロンズ・スポンサー / Bronze</h2>
    <hr class="my-4">
    <p>現在、募集中です</p>
    <div class="row">
      <div class="col-lg-12"> 
      </div>
    </div>
  </div>
</section>
