---
title: LibreOffice Asia Conference 2019
menu:
  - name: JA HOME
    url: /
  - name: EN HOME
    url: index_en.html
  - name: PROGRAM
    url: program.html
  - name: SPONSORS
    url: sponsors.html
---
<div id="title">
  <h1>
  スポンサー<br/>
  Sponsors
  </h1>
</div>

<div class="content content-odd">
<h2>プラチナスポンサー / Platinum</h2>
  <div class="inner">
    <table class="sponsor">
      <th>
      <h3>The Document Foundation</h3>
      <img src="images/libreoffice-initial-artwork-logo-colorlogobasic-2000px_1_orig.png" alt="LibreOffice" class="sponsorlogo"/><br/>
      <a href="https://www.documentfoundation.org/">Visit Sponsor Site</a>
</td>
      <td>
      The Document Foundationは、世界をリードする自由で無償のオフィスソフトの次の進化である<a href="https://ja.libreoffice.org">LibreOffice</a>の、また独占的なファイル形式からそれに対応するODF形式に変換する強力なツールを提供することでユーザーをベンダーロックインから解放するために集った開発者のコミュニティである<a href="https://www.documentliberation.org/">The Document Liberation Project</a>の母体であることを誇りとしています。<br/><br/>
      The Document Foundation is proud to be the home of <a href="https://www.libreoffice.org">LibreOffice</a>, the next evolution of the world's leading free office suite, and <a href="https://www.documentliberation.org/">The Document Liberation Project</a>, a community of developers united to free users from vendor lock-in of content by providing powerful tools for the conversion of proprietary file formats to the corresponding ODF format.
      </td>
      </tr>
    </table>
  </div>
</div>

<div class="content content-even">
<h2>ゴールドスポンサー / Gold</h2>
<h2>シルバースポンサー / Silver</h2>
<h2>ブロンズスポンサー / Bronze</h2>

現在募集中です。
</div>
