---
title: LibreOffice Asia Conference 2019 Session
menu:
  - name: PROGRAM
    url: program.html
  - name: SPONSORS
    url: sponsors.html
  - name: JA HOME
    url: /
  - name: EN HOME
    url: index_en.html
---

<header class="jumbotron jumbotron-fluid text-center text-white mb-0">
  <div class="container py-4">
    <h1>セッション内容 / Talks</h1>
  </div>
</header>

<article class="bg-light py-5">
  <div class="container">
    <h2 class="text-center">Track 1 (Japanese / 日本語)</h2>
    <hr class="my-4">

    <section class="mt-lg-5" id="track1-1">
      <h3>会津若松市 LibreOffice導入事例</h3>
      <p>本島 靖 (Motojima Yasushi)</p>
      <p>導入目的、経過などの紹介</p>
    </section>

    <section class="mt-lg-5" id="track1-2">
      <h3>翻訳ゆらぎや関連用語をグラフで視覚化し翻訳範囲を共有する</h3>
      <p>案浦 浩二 (Annoura Koji)</p>
      <p>翻訳するときは一部に注意するだけではダメで関連する用語などに関しても見直しが必要になります。似た表現も含む翻訳ゆらぎと関連用語をグラフデーターベース化することによって全体を見渡しバランスの良い翻訳が可能になると思います。用語のDBとしてはBaseからJDBCで接続する予定です。</p>
    </section>

    <section class="mt-lg-5" id="track1-3">
      <h3>Nextcloud で Libreoffice Online を使えるようにするにはどうする?</h3>
      <p>矢野 哲朗 (Yano Tetsurou)</p>
      <p>Nextcloud は、Libreoffice Onlineを統合してブラウザーからドキュメントを共同で編集することができます。Nextcloudに後からDockerコンテナーでLibreoffice Onlineを動かす方法を紹介し、使い方を解説します。</p>
    </section>

    <section class="mt-lg-5" id="track1-4">
      <h3>LibreOffice Onlineの大規模環境での稼働</h3>
      <p>村上 正記 (Murakami Masaki)</p>
      <p>LibreOffice OnlineはGoogle Docsなど、ブラウザからODF文書を編集するのに便利なソフトですが、owncloud/nextcloudなどと連携し、ユーザー数が大規模な環境下で利用するには、負荷分散などの仕組みが必要です。昨年から取り組んでいる内容について、その成果とどのようにすれば大規模な運用が可能となるかを発表します。</p>
    </section>

    <section class="mt-lg-5" id="track1-5">
      <h3>ParseJSONを作るぞ</h3>
      <p>荒川 雄介 (Arakawa Yusuke)</p>
      <p>有難う。みんなのPull-reqのお陰でLibreOffice CalcのGetRest関数は動くようになりました。でも肝心なことを忘れていた。JSONの要素を取り出さないと使えない。お手本であるJavaで作られたgetrestもParseJSONを持っていた。ParseJSONを作るぞ。ParseJSONができればLibreOffice CalcがREST APIとJSONを扱えるようになるに違いない。今回もPythonを使う。果たしてParseJSONはできるのだろうか？</p>
    </section>

  </div>

</article>

<article class="bg-light py-5">
  <div class="container">
    <h2 class="text-center">Track 2 (English / 英語)</h2>
    <hr class="my-4">

    <section class="mt-lg-5" id="track2-1">
      <h3>A Kerala Model of  Educating School Kids using Free Software: Imbibing Integrity and Honesty</h3>
      <p>Sreekanth V K</p>
      <p>As a part of syllabus used in schools affiliated to Government schools in Kerala, India, the students study basics of computer science and engineering (information technology) using free and open source software. They use LibreOffice as the office suite and learn various use cases of LibreOffice at school level. However, somehow, the students miss the bigger picture and fail to understand the value provided by LibreOffice and similar software communities. The step taken by Government of Kerala as part of “Information Technology (IT) at School” is appreciable and there is a need for LibreOffice and other Free and Open Source Software (FOSS) communities to make leverage of such initiatives and propel the idea of liberty. Developing a character in the childhood to make use of FOSS and to contribute of FOSS communities would help people to live freely and with integrity. It would prevent the people from falling into the trap of pirated and exploiting software. LibreOffice, being one of the front runner in promoting the high level ethics and standards, could play a crucial role in helping such initiatives in shaping up the syllabus and providing the necessary training to the trainers to promote the culture envisioned by LibreOffice. The presentation explores the existing IT curriculum in Government schools in Kerala, India along with possible opportunities and challenges. The presentation looks for the possible places where LibreOffice community could play a role and leverage its market share. Moreover, it will discuss the possible methods to leverage the involvement of people in development of LibreOffice from childhood.</p>  
    </section>


    <section class="mt-lg-5" id="track2-2">
      <h3>LibreOffice:  Educational practice in China</h3>
      <p>Linjie Lv</p>
      <p>First of all, this talk will introduce the promotion and operational experience of ezgo China community, the teacher community Open Education Fusion and the student community openingsource.org in China. We realize that more and more educational software ( including open source software and non-open source software) are used to assist teaching in China today. The application of open source software , like LibreOffice, Geogebra, PhET, etc. , to education is of great significance. Educational software is the tool, and the key is to educate students how to take use of these tools to acquire knowledge. However, we also notice that most of Chinese users are more accustomed to using commercial software, such as Microsoft Office and WPS, rather than these free and open source software. We compared the user habit and analyzed it. And then we made a plan to promote these free and open source softwares which are good for open source education. Taking LibreOffice for example, we are practicing in ezgo China community, Open Education Fusion, and openingsource.org  and want to share the experiences and achievements.  In the future, we have some new prospects in the promotion of LibreOffice in China, including the open source concepts, the certification of open source software skills, and the wider application in education. Sincerely hope to take this opportunity to share and discuss with you. </p>
    </section>

    <section class="mt-lg-5" id="track2-3">
      <h3>LibreOffice Migrations & the power of Open Standards</h3>
      <p>Silva Arapi</p>
      <p>
      Through this talk I would like to share some 
      considerations on LibreOffice migrations, in terms of advocating the 
      suite for use in public administrations, governments, and why not also 
      enterprises. The best way to do this is by explaining the importance of 
      using open standards, and the benefits and importance of 
      interoperability as well. Open Document Format, which is the LibreOffice 
      open standard, will be explored as the case study and how using this 
      standard benefits all the above mentioned stakeholders.
      </p>
      <p>
      We will also go through the struggles one can face while using 
      proprietary software and storing documents in a closed format. There are 
      various drawbacks in these terms which are worth mentioning.
      </p>
      <p>
      We will also go through some examples of successful migrations in 
      various institutions, their background and share some thoughts gathered 
      from people who have worked with migrations before.
      </p>
      <p>
      By making some strong points on the advantages of free open source 
      software and open standards we will explore different ways on how we can 
      further advocate the platform. With localizations, documentation, by 
      engaging new comers and through the power of the community, we can see 
      further implementations of the suite, and other case studies which can 
      provide valuable lessons.
      </p>
    </section>

    <section class="mt-lg-5" id="track2-4">
      <h3>Our Seven Years Experience Running LibreOffice At FANS Shoes Manufacture</h3>
      <p>Iwan S. Tahari</p>
      <p>
      FANS Indonesian shoes manufacture started migrating to FOSS (Free Open Source Software) since 2012. As a leader of FOSS migration project in our company, I will share our experience running LibreOffice and other FOSS in our company.
      </p>
      <p>
      In my presentation, I will share how we migrate to LibreOffice, why we choose LibreOffice as our main productivity software for our daily operation. I will mention some troubles and work around we discover while running LibreOffice. I will also share how Fans shoes manufacture contribute to FOSS projects.
      </p>
    </section>

    <section class="mt-lg-5" id="track2-5">
      <h3>CJK issues (based on Korean Language and Ideographs[漢字, Chinese characters]) on LibreOffice</h3>
      <p>DaeHyun Sung(성대현/成大鉉/ソン・デヒョン)</p>
      <p>
      In South Korea(Republic of Korea), Korean open source users experience that
      lack of Korean language support in FLOSS(Free/Libre Open Source Software
      include LireOffice).
      Also, Due to the complexity of CJKV character input (Chinese, Japanese,
      Korean, and Vietnamese), CJKV Information Processing and Localizations are
      challenging tasks.
      Unfortunately, FLOSS Developers & Contributors from outside East Asia(such
      as CJKV) don't know about the language expression & features.
      They don't know about many of needs from Local users to improve CJKV
      localization.
      I’ll talk about CJK issues in LibreOffice, based on Korean Language and
      Ideographs[漢字, Chinese characters].
      </p>
      <p>
      The Korean language (Hangul[한글]: 한국말/조선말/한국어/조선어; Hanja[한자/漢字]:
      韓國말/朝鮮말/韓國語/朝鮮語) is an East Asian language spoken by about 80 million
      people.
      It is the official and national language of both Koreas: the Democratic
      People's Republic of Korea (North Korea) and the Republic of Korea (South
      Korea), with different standardized official forms used in each territory.
      It is also one of the two official languages in the Yanbian Korean
      Autonomous Prefecture(연변 조선족 자치주/延邊朝鮮族自治州) and Changbai Korean Autonomous
      County(장백 조선족 자치현/長白朝鮮族自治縣) of the People's Republic of
      China[中華人民共和國,Mainland China]. Also It uses in Japan, Uzbekistan, Russia[It
      reads “Корё мар” in Russian], Kazakhstan, Kyrgyzstan, etc.
      Korean language uses Chinese characters(漢字). It says “Sino-Korean
      vocabulary” or “한자어(漢字語/Hanja-eo)” in Korean. It is similar to Japanese
      Kanji[漢字かんじ].
      So on FLOSS, you have to consider both Chinese and Japanese as well as
      Korean and vice versa.  I will also show the difference of Korean language
      in South Korea and North Korea.
      </p>
      <p>
      and I'll introduce North Korea Linux distribution and seoguang(서광) Office
      suite based on Open office.
      </p>
    </section>
  </div>
</article>

<article class="bg-light py-5">
  <div class="container">
    <h2 class="text-center">Track 3 (English / 英語)</h2>
    <hr class="my-4">

    <section class="mt-lg-5" id="track3-1">
      <h3>Grow out of nothing, the first successful experience about importing   LiberOffice into state-owned company (CPC corporation, Taiwan) since   2016.</h3>
      <p>Wen-Ke Huang</p>
      <p>
          CPC Corporation, Taiwan is a state-owned petroleum, natural gas,  
      and gasoline company in Taiwan and is the core of the Taiwanese  
      petrochemicals industry.<br>
          In recent years, we want to solve the following 3 problems: First  
      at all, lower the cost of compatibility problems about Microsoft  
      office, Windows OS and hardware; Secondly, solve long term records  
      retention and using problems; Finally, Provide universal document  
      format to people. Then we found LibreOffice can help us. But the most  
      difficult thing is our employees are used to using Microsoft Office.  
      So we need to figure out some solutions to overcome this problem.
      </p>
      <p>
      Methods:<br>
          The following 7 methods that we used: First at all, find out  
      benefits after used LibreOffice to gain executive leadership support;  
      Secondly, keep providing training course to employees; Thirdly, ask  
      Chairman of SLAT(free software community) to illustrate benefits to  
      our Chairman or General Manager; Next, invite vice CIO to visit Yilan  
      County Government which has already successfully promoted using  
      LibreOffice. What’s more, make LibreOffice operating manual document  
      or video to KM or E-learning platform; Lastly, enact LibreOffice using  
      policy and a system of rewards and punishment.
      </p>
      <p>
      Conclusion:<br>
          Through 2-3 years hardwoking, we reap first fruits. On Jan 1,  
      2019, our company has enacted a policy. In 2019, using more than 60%  
      ODF or PDF format in official document and more than 60% software that  
      need to support ODF format. In 2020, both are 100%.
      </p>
    </section>

    <section class="mt-lg-5" id="track3-2">
      <h3>How to organize Translation Sprint by local language Community</h3>
      <p>Biraj Karmakar</p>
      <p>Basically in this talk, I am going to hare you how to organize a Translation Sprint with easy proven methods.
      First of all two types of Sprint there - 1. Online, 2. Offline.</p>
      <ul>
      <li><em>Outline of the talks of online sprint : </em></li>
      <li><em>Before Event :</em> Setting a date, setting a chat room for discussion,</li>
      </ul>
      <p>promotion of the event in community blog, social media</p>
      <ul>
      <li><em>On the event date:</em> Welcome attendee, describe event flow, describe
      necessary guidelines to translate strings, mentoring new people, hands on</li>
      <li><em>After event:</em> follow up with attendees and write down the report of online
      sprint</li>
      <li><em>Outline of the talks of offline sprint : </em></li>
      <li><em>Before Event :</em> Setting a date, setting a venue, promotion of the event in
      community blog, social media</li>
      <li><em>On the event date:</em> Check the venue. Welcome attendee, Registration,
      describe event flow, describe necessary guidelines to translate strings,
      mentoring new people, hands-on translation projects, swag distribution,
      Wrap up</li>
      <li><em>After event:</em> follow up with attendees and write down the report of
      offline sprint, engage new contributor with translation projects</li>
      </ul>
      <p><em>Outline of event day agenda:</em></p>
      <ul>
      <li>LibreOffice l10n and the process</li>
      <li>LibreOffice localization style guide</li>
      <li>LibreOffice localization terminolgy</li>
      <li>Understanding TM</li>
      <li>Hands on Pootle Trainning</li>
      <li>Completing and reviewing pending Translation</li>
      <li>QA of localized version of LibreOffice</li>
      <li>Training on Bugzilla and l10n Bug Filing</li>
      <li>Future Community Plans</li>
      <li>Feedback from attendees</li>
      </ul>
      <p>I have organized so many sprints. I am super excited to share this
      experience with you all. Also Sophie from libreoffice suggested me to
      submit this topic.</p>

    </section>

    <section class="mt-lg-5" id="track3-3">
      <h3>LibreOffice Flatpak, Snap and AppImage: Which one is Suitable?</h3>
      <p>Kukuh Syafaat</p>
      <p>Besides LibreOffice that provided by each GNU/Linux distribution (i.e.
      Debian, Ubuntu, openSUSE, Fedora, etc), there are some way that users can
      do to install it.</p>
      <p>The first way is Flatpak. Flatpak (formerly xdg-app) is a software utility
      for software deployment, package management, and application virtualization
      for Linux desktop computers. It provides a sandbox environment in which
      users can run applications in isolation from the rest of the system.
      Applications using Flatpak need permission from the user to control
      hardware devices or access the user's files. The idea of using application
      containers in GNOME was first proposed in 2013 by Lennart Poettering, who
      published an article about it in 2014. Developed as part of the
      freedesktop.org project (formerly known as X Desktop Group or XDG), it was
      originally called xdg-app. Flatpak is developed by an independent
      community, made up of volunteers and contributors from supporting
      organizations. It's a lead developer is Alex Larsson. He has been working
      on critical open source projects for almost 20 years. Flatpak supported by
      all major Linux distributions officially. Using LibreOffice with Flatpak is
      a good way to get the latest version in some GNU/Linux distribution.</p>
      <p>The second way is Snap. Snap developed by Canonical. Snaps are app packages
      for desktop, cloud and IoT that are easy to install, secure, cross-platform
      and dependency-free. A snap is a bundle of app and its dependencies that
      works without modification across many different Linux distributions. Snaps
      are discoverable and installable from the Snap Store, an app store with an
      audience of millions.</p>
      <p>The third way is AppImage. AppImage, who the main developer is Simon Peter,
      is a format for distributing portable software on Linux without needing
      superuser permissions to install the application. It tries also to allow
      Linux distribution-agnostic binary software deployment for application
      developers, also called Upstream packaging. Released first in 2004 under
      the name klik, it was continuously developed since then, renamed in 2011 to
      PortableLinuxApps and 2013 to AppImage. The key idea of the AppImage format
      is one app is one file. Every AppImage contains an app and all the files
      the app needs to run. In other words, each AppImage has no dependencies
      other than what is included in the targeted base operating systems. Using
      LibreOffice with AppImage, especially for daily testing is a good way, the
      user can't break the system.</p>
      <p>Between Flatpak, Snap, and AppImage, I think there are some pros/cons based
      on user point of view. So, let's discuss it.</p>
    </section>

    <section class="mt-lg-5" id="track3-4">
      <h3>New ODF Toolkit from TDF (The Document Foundation)</h3>
      <p>Svante Schubert</p>
      <p>The new ODF Toolkit from TDF (The Document Foundation) is a set of Java modules that allow programmatic creation, reading, manipulation and saving of Open Document Format (ISO/IEC 26300 == ODF) documents. Unlike other approaches which rely on runtime manipulation of heavy-weight editors via an automation interface, the ODF Toolkit is lightweight and ideal for server use. The TDF validator http://odfvalidator.org is generated from it. Funded by the German Goverment a collaboration feature has been added to map an ODF text document (ODT) into a list of user changes (to be dispatched to  a browser office) and merge new user changes (from this office and other users) back. Further funding for the combination of this backend with open front-ends such as CKEditor5 (open-source WYSIWYG HTML editor), for show cases editing ODT by Emacs and combination with Google Docs and others is being requested. The idea to enlarge the ODF community. Our mission to guide communities into an open collaboration century.</p>
    </section>

    <section class="mt-lg-5" id="track3-5">
      <h3>Collabora Online and what is new in latest version – 4.0</h3>
      <p>Tomaž Vajngerl</p>
      <p>Collabora Online is an office suite running in a browser, that's based  on LibreOffice Online. One of the key features that's not present in a  desktop version of LibreOffice is support for collaboration and  centralized installation and managing (running in a docker container).  In February, 2019 a new milestone version of Collabora Online was release. In this talk I will present Collabora Online and new features that were  released with the 4.0 version. </p>
    </section>

  </div>
</article>
