---
title: LibreOffice Asia Conference 2019 - Talks
menu:
- name: JA HOME
  url: /
- name: EN HOME
  url: index_en.html
- name: PROGRAM
  url: program.html
- name: TALKS
  url: talks.html
- name: SPONSORS
  url: sponsors.html
---

<header class="jumbotron jumbotron-fluid text-center text-white mb-0">
    <div class="container py-4">
        <h1>講演紹介 / Talks</h1>
    </div>
</header>

<section class="bg-light py-5">
    <div class="container">
        <h2 class="text-center">基調講演1: (TBD)<br/>(TBD)</h2>
        <hr class="my-4">
        <h3>Abstract</h3>
        <p>(TBD)</p>
        <h3>Bio</h3>
        <p>(TBD)</p>

        <h2 class="text-center">基調講演2: (TBD)<br/>Italo Vignoli / Lothar K. Becker</h2>
        <hr class="my-4">
        <h3>Abstract</h3>
        <p>(TBD)</p>
        <h3>Bio</h3>
        <p>Italo Vignoli is a TDF founders and former director. He is now n charge of media relations, communication
            strategy and coordination, and certification.</p>
        <p>
            Lothar K. Becker is managing partner of .riess applications gmbh (riess-app.de). He is co-founder of topics-
            and expert platform F-O-X. For over 10 years, Lothar is a management consultant for the use of open source
            on the desktop and in particular of free office suites. He himself is still much at Customer's sites for
            consulting and implementation projects. After receiving his diploma in computer science and economics, he
            held senior positions within two major international software and service provider. He is married and lives
            in Karlsruhe and Zurich.</p>
    
        <h2 class="text-center">A Kerala Model of  Educating School Kids using Free Software: Imbibing Integrity and Honesty
<br/>Sreekanth V K
</h2>
        <hr class="my-4">
        <h3>Abstract</h3>
        <p>As a part of syllabus used in schools affiliated to Government schools in Kerala, India, the students study basics of computer science and engineering (information technology) using free and open source software. They use LibreOffice as the office suite and learn various use cases of LibreOffice at school level. However, somehow, the students miss the bigger picture and fail to understand the value provided by LibreOffice and similar software communities. The step taken by Government of Kerala as part of “Information Technology (IT) at School” is appreciable and there is a need for LibreOffice and other Free and Open Source Software (FOSS) communities to make leverage of such initiatives and propel the idea of liberty. Developing a character in the childhood to make use of FOSS and to contribute of FOSS communities would help people to live freely and with integrity. It would prevent the people from falling into the trap of pirated and exploiting software. LibreOffice, being one of the front runner in promoting the high level ethics and standards, could play a crucial role in helping such initiatives in shaping up the syllabus and providing the necessary training to the trainers to promote the culture envisioned by LibreOffice. The presentation explores the existing IT curriculum in Government schools in Kerala, India along with possible opportunities and challenges. The presentation looks for the possible places where LibreOffice community could play a role and leverage its market share. Moreover, it will discuss the possible methods to leverage the involvement of people in development of LibreOffice from childhood.
    </p>
        <h3>Bio</h3>
        <p>Sreekanth V K is completing his PhD from Rajendra Mishra School of Engineering Entrepreneurship, Indian Institute of Technology Kharagpur, India. He is a free software enthusiast and believe in freedom with responsibility. In the recent past, he started being part of LibreOffice Marketing mailing list and actively understanding the working the LibreOffice. Tryst with knowing the world drives his career. He considers continuous learning and sharing is important for happy life.</p>
    </div>


</section>

